<div class="row">
    <div class="col-4">
        <div class="card bg-dark">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong class="text-muted">Gender:</strong>
                    <p class="text-light">{{member.gender}}</p>
                </div>
                <div>
                    <strong class="text-muted">Location:</strong>
                    <p class="text-light">{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong class="text-muted">Age:</strong>
                    <p class="text-light">{{member.age}}</p>
                </div>
                <div>
                    <strong class="text-muted">Last Active:</strong>
                    <p class="text-light">{{member.lastActive + 'Z' | timeago}}</p>
                </div>
                <div>
                    <strong class="text-muted">Member Since:</strong>
                    <p class="text-light">{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer bg-dark">
                <div class="btn-group d-flex">
                    <button class="btn btn-danger"><i class="fa fa-heart"></i>Like</button>
                    <button (click)="selectTab('Messages')" class="btn btn-light"><i class="fa fa-envelope"></i>Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab class="member-tab" heading="About {{member.knownAs}}" (selectTab)="onTabActivated($event)">
                <h4 class="bg-dark">Description</h4>
                <p>{{member.introduction}}</p>
                <h4 class="bg-dark">Looking For</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="Interests" (selectTab)="onTabActivated($event)">
                <h4 class="bg-dark">Interests</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading="Photos" #photoTab="tab" (selectTab)="onTabActivated($event)">
                <gallery *ngIf="photoTab.active" [items]="images" class="gallery"></gallery>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.userName" [messages]="messages"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>